<% if memberships.any? %>
  <div class="grid grid--gutters grid--1of2 tablet-grid--1of4">
    <% memberships.each do |membership| %>
      <div class="grid-cell">
        <div class="img--avatar img--avatar-center">
          <%= link_to image_tag(membership_picture_url(membership, size: :large), size: '150x150',
            class: :member), [space, membership], title: membership.name %>
          <div class="caption">
            <h4 class="margin-bottom--0 margin-top--small"><%= link_to membership.name, [space, membership], class:"heading--special heading--special-noborder" %></h4>
            <p class="font--small"><%= truncate membership.profession, length: 20 %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There are no members yet. Members of the space are added automatically when they log in the first time.</p>
<% end%>
