<h1>Coworkers</h1>

<p>A member directory for coworking spaces powered by <%= link_to 'cobot', 'http://www.cobot.me' %>.</p>

<p><%= link_to 'Sign In', authenticate_path %></p>

<p>You need to have a cobot account and be a member or admin in a space there in order to use coworkers.</p>