<div class="cb-section">
  <div class="cb-container">
    <p>This add-on offers a member directory for coworking spaces using <%= link_to 'Cobot', 'http://www.cobot.me' %>.</p>

    <ul>
      <li>Members with photos and profile information.</li>
      <li>Customizable fields.</li>
      <li>Member profile page.</li>
      <li>A list of members can be embedded on your website.</li>
    </ul>

    <p class="center"><%= link_to 'Sign in', new_session_path, class: 'btn btn--hl btn--full' %></p>
  </div>
</div>
