<%= render 'spaces/navigation', space: @space %>

<div class="path"><%= link_to @space.name, @space %> » Dashboard</div>

<h2><%= link_to 'New Members', [@space, :memberships] %></h2>
<%= render 'memberships/memberships', memberships: @new_memberships, space: @space %>
