#coworkers_widget {
  width: 250px;
  overflow-x: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 100%;
  background: #f3f2ee;
  vertical-align: top;
  line-height: 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 12pt;
  border: 1px solid #d5d4d1;
}
#coworkers_widget ul {
  padding: 5px 10px;
  margin: 0;
}
#coworkers_widget ul li {
	list-style: none;
	margin: 5px 0;
}
#coworkers_widget img {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  float: left;
}
#coworkers_widget ul li a, #coworkers_widget ul li a:link, #coworkers_widget ul li a:visited {
  text-decoration: none;
  vertical-align: top;
  margin: 0 10px 0 0;
  display: block;
  color: #3a6180;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
#coworkers_widget ul li a:hover, #coworkers_widget ul li a:active, #coworkers_widget ul li a:focus {  color: #476d92 }
#coworkers_widget .pagination {
  background: #d5d4d1;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  text-align: center;
}
#coworkers_widget .pagination a, #coworkers_widget .pagination a:link, #coworkers_widget .pagination a:visited {
  background-color: #f3f2ee;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 4px 6px;
  line-height: 24px;
  border-radius: 12px;
  text-decoration: none;
  color: #82817f;
  font-size: 10pt;
}
#coworkers_widget .pagination a:hover, #coworkers_widget .pagination a:active, #coworkers_widget .pagination a:focus {
  color: #3a6180;
  background-color: #edf0f3;
}
#coworkers_widget span {
	display: block;
	width: 100%;
	min-height: 15px;
  vertical-align: top;
  font-size: 9pt;
  color: #9a978b;
}
