#cobot_widget {
	list-style: none;
	width: 300px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 110%;
	background: #fbfaf8;
	vertical-align: middle;
	line-height: 24px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

#cobot_title {
	background: #c2d9e9;
	padding: 5px;
	font-style: bold;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

#cobot_widget img {
	margin: 0 10px 0 0;
}

#cobot_widget a {
	text-decoration: none;
	margin: 0 10px 0 0;
}

