$fa-font-path: "https://opensource.keycdn.com/fontawesome/4.6.2/";

@import "font-awesome/variables";
@import "font-awesome/path";
@import "font-awesome/core";

@import "cobot_assets/imports";


.grid-container {
  padding-left: .75rem;
  padding-right: .75rem;
  > a {
    margin-bottom: 1rem;
  }
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr) );
    grid-gap: 1rem;
    > a {
      margin-bottom: 0;
    }
  }
}
