@import "cobot_assets/font_awesome_imports";
@import "cobot_assets/imports";

.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr) );
  padding-left: .75rem;
  padding-right: .75rem;
}

// override for MS Edge (should not be necessary after Edge lte 16, but needs verification. – @kriesse Sept 4 2017)
@supports(display: -ms-grid) {
  .grid-container {
    display: block;
    > a {
      margin-bottom: 1rem;
    }
  }
}
