a.btn {
  text-decoration: none;
}

a.btn span:focus,
button.btn span:focus,
a.btn:focus,
button.btn:focus,
input.btn:focus {
  outline: none;
}

button.btn::-moz-focus-inner {
  padding: 0;
  border: none;  /* overrides extra padding in Firefox */
}

a.btn.span,
button.btn span {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari and Google Chrome only - fix margins */
  button.btn span {
    margin-top: -1px;
  }
}

/* button styles, not to be changed */
input.btn,
a.btn,
button.btn,
a.btn span,
button.btn span {
  text-align: center;
}

input.btn,
a.btn,
button.btn {
  text-align: center;
}

a.btn span,
button.btn span {
  display: inline-block;
}

/* custom btn */

button.btn,
.btn, a.btn, a.btn:visited, a.btn:link {
  font-size: 1em;
  line-height: 1.5;
  margin-right: 5px;
  padding: 0.5em .75em;
  text-decoration: none;
  color: #F6F6F4;
  border: none;
  cursor: pointer;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* normal blue buttons */
.action,
.btn {
  background-color: #429ACC;
}

/* highlighted btns */
.btn_bob,
.btn_highlight,
a.btn_highlight {
  background-color: #FF1D4E;
}

/* cancel/delete btns */
.btn.orange,
a.btn.orange,
.btn_cancel,
a.btn_cancel {
  background-color: #FF6435;
}
