.logo {
  margin: 1.5em 0 1.5em 0;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 0px 1px 1px #fff;
}

.logo a,
.logo a:link,
.logo a:visited {
  display: block;
  width: 314px;
  height: 64px;
  background: transparent image-url('logo_coworkers.png') no-repeat 0 0;
  text-indent: -9999px;
}

.logo a:hover,
.logo a:active,
.logo a:focus {
  outline: none;
  background-position: 0 -65px;
}

.action-links {
  float: right;
}

.action-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.action-links ul li a {
  display: block;
}


/* Links */
a,a:link,a:visited{color:#429ACC;text-decoration:none;}
a:hover,
a:active,
a:focus{color:#0B5C7B;}
a.highlight,
a.highlight:link,
a.highlight:visited{color:#FF1D4E;background:none;}
a.highlight:hover,
a.highlight:active,
a.highlight:focus{color:#CE1940;}
a.invert,
a.invert:link,
a.invert:visited{color:#ffa1b5;}
a.invert:hover,
a.invert:active,
a.invert:focus{color:#FFD9E1;}

nav {
  font-size: 0.8333em;
  line-height: 1.5;
  padding: 0;
  line-height: 1.5em;
  background: #FFF;
  overflow: hidden;

  color: #D0CABA;

  -moz-border-radius: 0 0 1em 1em;
  -webkit-border-radius: 0 0 1em 1em;
  border-radius: 0 0 1em 1em;

  -moz-box-shadow: inset 0px 0px 1px #FFF;
  -webkit-box-shadow: inset 0px 0px 1px #FFF;
  box-shadow: inset 0px 0px 1px #FFF;
}

nav a,
nav a:link,
nav a:visited {
  display: block;
  float: left;
  padding: 0.5em 1em;
  background: #FFF;
}

nav a:hover,
nav a:active,
nav a:focus {
  background: #0B5C7B;
  color: #FFF;
}

nav a.first {
  -moz-border-radius: 0 0 0 1em;
  -webkit-border-radius: 0 0 0 1em;
  border-radius: 0 0 0 1em;
}

nav a.last {
  -moz-border-radius: 0 0 1em 0;
  -webkit-border-radius: 0 0 1em 0;
  border-radius: 0 0 1em 0;
}

#flash {
  margin-bottom: 1em;
  width: 100%;

  .flash {
    position: relative;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
    border: 0px;
    padding: 10px;
    padding-left: 48px;
    color: #fff;

    &.notice {
      background: rgb(59, 148, 163);

      .flash-icon {
        background-color: rgb(109, 216, 227);
        background-image: image-url('flash_notice.png');
      }
    }

    a, a:visited {
      color: white;
    }

    .flash-icon {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      border: none;
      padding: 0;
      border-radius: 5px 0 0 5px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

}

.logo {
  float: left;
}

.header {
  float: right;
  margin-bottom: 2em;
}

h2 {
  margin: 0;
  font-size: 1.3em;
}

.path {
  margin: 0 0 15px 0;
}

.member {
  margin-bottom: 2em;
  border-bottom: 1px solid #CCC;
}

.member * {
  border-bottom-width: 0px;
}

.member .edit {
  margin-left: 45px;
}

.member .photo {
  float: left;
}

.member .bio {
  min-height: 140px;
  margin-left: 200px;
}

.profile_info {
  margin-left: 200px;
}

.clear {
  clear: both;
}

#menu {
  clear: both;
  background: #3681B6;
  border-radius: 0.5em 0.5em 0px 0px;
  -mox-border-radius: 0.5em 0.5em 0px 0px;
  -webkit-border-radius: 0.5em 0.5em 0px 0px;
  padding: 0.4em 20px 0.4em 20px;
}

#menu a {
  color: white;
  display: inline-block;
  margin-right: 30px;
}

#menu a:hover {
  color: #eee;
}

body.embed {
  background: #FBFAF8;
}

.main {
  clear: both;
  background: #fff;
  padding: 20px;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

.main.with-menu {
  border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
}


.center {
  text-align: center;
}

.list {
  width: 100%;
  text-align: left;
  border-spacing: 0px;
}

img.member {
  padding: 0px;
  margin: 0px;
}

.list td {
  padding: 2px 2px;
  border-bottom: 1px #0b5c7b solid;
  border-right: 1px #0b5c7b solid;
}

.list tr td:first-child {
  border-left: 1px #0b5c7b solid;
}

.list td a {
  text-decoration: none;
}

.list thead th {
  padding: 5px 1px;
  background: #0b5c7b;
  color: #fff;
  line-height: 1.5;
}

.footer {
  color: #AAA;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 0;
  border-top: 1px solid #eee;
}

.footer a, .footer a:visited {
  color: #999;
}

h1 {
  font-size: 1.5em;
}

.right {
  float: right;
}

#search {
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border: 1px #ddd solid;
  font-size: 1em;
  margin-bottom: 20px;
}

form.simple_form {
  margin-bottom: 1em;
}

div.input {
  margin-bottom: 1em;
}

form p {
  margin-left: 120px;
}

form label {
  display: inline-block;
  width: 170px;
}

form textarea {
  height: 100px;
  width: 300px;
}

form input.string {
  width: 300px;
}

ol {
  width: 90%;
}

textarea.embed {
  width:90%;

  overflow:hidden;
}

.screen {
  float: left;
  width: 270px;
  margin-right: 40px;

  color: #666;
}

.screen.last {
  margin-right: 0px;
}

.screen img {
  border: 1px solid #AAA;
  margin-bottom: .5em;
}


.clear {
  clear: both;
}

.message-board {
  border: 1px solid #EEE;
  border-radius: 0.5em;
  width: 270px;
  background-color: rgb(251, 250, 249);
  padding: 10px;
  float: left;
  margin-right: 15px;
}

.message-board.last {
  margin-right: 0px;
}

.message-board h3 {
  text-align: center;
}

div.message {
  border: 1px solid #EEE;
  border-radius: 0.5em;
  padding: 5px;
  background-color: white;
  margin-bottom: 0.5em;
}

.author {
  color: #AAA;
  margin-bottom: 0px;
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: "Museo";
  src: url(/fonts/museo500.otf);
}

h1, h2, h3 {
  font-family: "Museo", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

h1 {
  color: #0B5C7B;
}

h3 {
  color: #111A24;
}

h2 {
  color: #0B5C7B;
}

.page-header {
  margin-bottom: 2.5em;
}

.page-header h2 {
  font-size: 1.6em;
  line-height: 1;
}
