<div class="path">Your Spaces</div>

<p>Please <%= link_to 'update your profile information', edit_account_path %>.</p>

<% if @spaces.any? %>
<table class="memberships">
	<thead>
		<tr>
			<th>Name</th>
			<th>No. of Members</th>
		</tr>
	</head>
	<tbody>
	<% @spaces.each do |space| %>
		<tr>
			<td><%= link_to space.name, space %></td>
			<td><%= space.memberships.length %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% else %>
	<p>You are not a member of any space yet.</p>
<% end%>