<h1>Your Spaces</h1>

<% if @spaces.any? %>
  <table class="admin-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>No. of Members</th>
        <% if @admin_of_any_space %>
          <th></th>
        <% end %>
      </tr>
    </head>
    <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td class="space"><%= space.name %></td>
        <td><%= space.memberships.length %></td>
        <td>
          <% if current_user.admin_of?(space) %>
            <%= link_to 'Install on Cobot', install_space_path(space), data: {method: :put}, class: 'btn btn--small btn_wrench' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if @admin_of_any_space %>
    <h2>Install on Cobot</h2>
    <p>Installing on Cobot will allow you and your members to access the profiles from within Cobot.</p>
  <% end %>
<% else %>
  <p>You are not a member of any space yet.</p>
<% end%>
